.servicesSectionContent {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5rem;
  align-self: stretch;
}

.services {
  display: grid;
  grid-template-columns: ;
}

.image {
  height: 6rem;
  width: 22rem;
  background-color: lightgray;
}
