.blogSectionContent {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  align-self: stretch;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.post {
  display: flex;
  width: 22rem;
  height: 28.3125rem;
  padding: 2rem 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1rem;
  justify-content: space-between;
  border: 2px solid black;
}

.heading {
  color: var(--surfaceNeutralColor);
  margin-bottom: 0.5rem;
}

.date {
  color: var(--surfaceShadeColor);
  font-size: 0.75rem;
  line-height: 1.5rem; /* 200% */
  margin-bottom: 1rem;
}

.content {
  color: var(--surfaceNeutralColor);
}

.post button {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--primaryColor);
  border-radius: 0.25rem;
}

.post button p {
  color: var(--surfaceColor);
  font-size: 1rem;
}

.paginationContainer {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.paginationContainer button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  border-radius: 3px;
}

.paginationContainer button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.paginationContainer .active {
  font-weight: bold;
  color: var(--surfaceColor);
  background-color: var(--primaryColor);
  border-color: var(--surfaceShadeColor);
}

.paginationContainer span {
  padding: 5px 10px;
  color: #888;
}

@media screen and (max-width: 1232px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .post {
    width: 100%;
    height: 100%;
    gap: 2rem;
  }
}

@media screen and (max-width: 653px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
