.serviceContent {
  display: flex;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3.5rem;
  align-self: stretch;
}

.serviceContent h2 {
  width: 22rem;
}

.serviceInfo {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}

.description {
  display: flex;
  width: 22rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.description button{
  margin: 0.5rem;
}

.cta{
  display: flex;
flex-direction: column;
align-items: center;
gap: 3.5rem;
}

.cta button{
  display: none;
}

.cards {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 2rem;
  flex: 1 0 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  min-width: 12.5rem;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-radius: var(--radiusMedium);
  border: 2px solid var(--surfaceNeutralColor);
  overflow: hidden;

}

.imageContainer {
  height: 16rem;
  align-self: stretch;
  overflow: hidden;
}

.imageContainer img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.headerContainer {
  display: flex;
  color: var(--surfaceColor);
  padding: 1rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-top: 2px solid var(--surfaceNeutralColor);
  background: var(--surfaceNeutralColor);
  white-space: nowrap;
}



@media screen and (max-width: 768px) {
  .serviceContent{
    text-align: center;
    align-items: center;
  }

  .serviceInfo{
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .description{
    align-items: center;
    width: 100%;
  }

  .description button{
    display: none;
  }

  .cta button{
    display: block;
  }
}
