
.ctaBg{
  position: relative;
}

.ctaBg img{
  display: none;
}
.ctaTwoContent{
  display: flex;
padding: 4rem 0;
flex-direction: column;
align-items: center;
gap: 3.5rem;
align-self: stretch;
text-align: center;
}

.header {
  display: flex;
flex-direction: column;
align-items: center;
gap: 0.5rem;
align-self: stretch;
color: var(--surfaceColor);
}

