.header {
  display: flex;
  justify-content: center;
  padding: 0 4%;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 1rem 0;
}

.logoContainer {
  display: flex;
  width: 5rem;
  height: 3.875rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.logoContainer img{
  width: 100%;
  height: 100%;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navLinks a {
  cursor: pointer;
  color: var(--surfaceColor);
}

.menuIconContainer {
  display: flex;
  height: 2.1875rem;
  padding: 0.5rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.menuIconContainer{
  color: var(--surfaceColor);
}

@media screen and (max-width: 896px) {
  .navLinks {
    display: none;
  }
}
