/* Import */
@font-face {
  font-family: var(--fontHeader);
  src: url("../public/font/Minister-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Constants */
:root {
  /* Font */
  --fontHeader: "Minister Book", sans-serif;
  --fontBody: "Roboto", sans-serif;

  /* Color */
  --primaryColor: #f4841f;
  --surfaceColor: #ffffff;
  --surfaceMutedColor: #fef9f4;
  --surfaceDimColor: #fac89a;
  --surfaceShadeColor: #552e0b;
  --surfaceNeutralColor: #000000;

  /* Gradient */
  --primaryGradient: linear-gradient(180deg, #ffd194 0%, #ffffff 100%);

  /* Radius */
  --radiusSmall: 0.25rem;
  --radiusMedium: 0.5rem;
  --radiusLarge: 1rem;
}

body {
  min-width: 375px;
  font-family: var(--fontBody);
  background: var(--surfaceColor);
  color: var(--surfaceNeutralColor);
}


.container {
  max-width: 70rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  padding: 0 4%;
}

h1 {
  font-family: var(--fontHeader);
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 500;
}

h2 {
  font-family: var(--fontHeader);
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 500;
}

h3 {
  font-family: var(--fontHeader);
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

h4 {
  font-family: var(--fontHeader);
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}

p {
  font-family: var(--fontBody);
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  all: unset;
  display: inline;
  cursor: pointer;
}

.text-regular {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.text-large {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button-text {
  color: var(--surfaceNeutralColor);
  font-family: var(--fontBody);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
  white-space: nowrap;
}

.primary-button {
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary, #f4841f);
  color: var(--surfaceColor);
}

.secondary-button {
  display: inline-flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--radiusSmall);
  border: 2px solid var(--surfaceNeutralColor);
  background: var(--surfaceColor);
}

@media screen and (max-width: 768px){
  h1 {
    font-family: var(--fontHeader);
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 500;
  }
  
  h2 {
    font-family: var(--fontHeader);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 500;
  }
  
  h3 {
    font-family: var(--fontHeader);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
  
  h4 {
    font-family: var(--fontHeader);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    /* figure out what we need to do with this header */
  }

  .text-large {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  .text-regular {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }
  
}